body{
    margin: 0;
    background-color: #ffe6f4;
}

header{
    text-align: center;
    margin: 0;
    padding: 2px;
    display: block;
    background-color: #a19bf9;
    overflow: hidden;
}

header p{
    font-family:'Pixelify Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%; margin-right: 20%;
    border-radius:100px;
    color: #ffe6f4;
    background-color: #5b5dad;
    padding: 2px;
}

.headerDemoNeon{
    display: none;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

header i{
    float: right;
    color: #5b5dad;
    margin-right: 15px;
    margin-top: 10px;
}

a {
    text-decoration:none;
}

.contactUs{
    font-size: small;
    float: right;
    margin: 0;
    background-color: unset;
    color: #5b5dad;
    font-family: 'Roboto', sans-serif;
    margin-right: 2px;
    margin-top: 2px;
    display: none;
}

.contactUs:hover{
    cursor: default;
}

.navPrincipal{
    background-color: #5b5dad;
    list-style: none;
    margin: 0;
    height: 30px;
    border-bottom-right-radius: 100px; border-bottom-left-radius: 100px;
}

nav ul li p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #ffe6f4;
    font-weight: bolder;
}

.items, .active{
    display: block;
    float:left;
    margin-right: 15px;
    line-height: 30px;
    cursor: default;
}

.itemDerecha{
    float:right;
}

.dropdownMiembros{
    display: none;
    position: absolute;
    background-color: #5b5dad;
    z-index: 1;
    margin: 0;
    min-width: 170px;
    top: 100%;
    right: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #a19bf9;
}

.dropdownItemOculto{
    display:none;
}

.dropdownItemComercianteExt, .dropdownItemPersonalExt{
    display:none;
    border-top-style:dotted;
    border-top-width: 5px;
    border-color: #a19bf9;
}

.dropdownPadreMiembros{
    position: relative;
    float: right;
}

.dropdownPadreComerciantes, .dropdownPadrePersonal{
    position: relative;
}

.dropdownComerciantes{
    display: none;
    position: absolute;
    background-color: #5b5dad;
    z-index: 1;
    margin: 0;
    right: 100%;
    top: -33%;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-style: solid; border-right-style: solid;
    border-top-width: 5px; border-right-width: 5px;
    border-color: #a19bf9;
    border-bottom-left-radius: 15px;
}

.dropdownPersonal{
    display: none;
    position: absolute;
    background-color: #5b5dad;
    z-index: 1;
    margin: 0;
    right: 100%;
    top:-135%;
    min-width: 170px;
    min-height: 68px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-style: solid; border-right-style: solid;
    border-top-width: 5px; border-right-width: 5px;
    border-color: #a19bf9;
    border-bottom-left-radius: 15px;
}

.dropdownPadreAvisos, .dropdownPadreEventos, .dropdownPadreLugares{
    position: relative;
    float:left;
}

.dropdownAvisos, .dropdownEventos, .dropdownLugares{
    display: none;
    position: absolute;
    background-color: #5b5dad;
    z-index: 1;
    margin: 0;
    min-width: 170px;
    top:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #a19bf9;
}

.navDropdown{
    list-style: none;
    margin-top: 0;
    padding: 5px;
    padding-right: 0;
}

.dropdownItem{
    padding: 5px;
    cursor: default;
}

.dropdownPadreMiembros:hover .dropdownMiembros, .dropdownPadreAvisos:hover .dropdownAvisos, .dropdownPadreComerciantes:hover .dropdownComerciantes, 
.dropdownPadrePersonal:hover .dropdownPersonal, .dropdownPadreEventos:hover .dropdownEventos, .dropdownPadreLugares:hover .dropdownLugares{
    display: block;
}


.active{
    background-color: #a19bf9;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 10px; border-top-left-radius: 10px;
}

.items:hover, .dropdownItem:hover{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #a19bf9,
        0 0 82px #a19bf9,
        0 0 92px #a19bf9,
        0 0 102px #a19bf9,
        0 0 151px #a19bf9;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5b5dad;
    color: white;
    max-height: fit-content;
    padding:0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-style:solid; border-color:#a19bf9; border-width:5px;
}

footer ul{
    list-style: none;
    text-align: center;
    margin:0;
    padding: 0;
    overflow: auto;
}

.itemFooter{
    cursor: default;
    font-family: 'Roboto', sans-serif;
    float:left;
    color:#ffe6f4;
    font-style:italic;
    font-weight: bolder;
    font-size: small;
    margin-left:15%;
}
